<!-- <mat-spinner *ngIf="isLoading"></mat-spinner>
<input type="text" placeholder="Search By Book name" [(ngModel)]='searchTerm'>
<div *ngIf="books.length > 0 && !isLoading">
  <div *ngFor="let book of books | bookFilter:searchTerm">
    <div class="post-image">
      <img [src]="book.imagePath" [alt]="book.title"></div> <span>Title: {{book.title}}</span><br>
    <span>Author: {{book.content}}</span>
    <div *ngIf="userIsAuthenticated">
      <a [routerLink]="['/edit', book.id]">Edit</a>
      <button (click)="onDelete(book.id)">Delete</button>
    </div>

    <hr>

  </div>
</div>
<mat-paginator [length]="totalBooks" [pageSize]="booksPerPage" [pageSizeOptions]="pageSizeOptions"
  (page)="onChangePage($event)" *ngIf="books.length > 0"></mat-paginator>
<p *ngIf="books.length <= 0 && !isLoading">No Record Found</p> -->
<mat-toolbar class="main-toolbar">
  <div class="main-container">
    <div class="row">
      <div class="col-6">
        <ul class="main-header-ul ">
          <li><a>Home</a></li>
          <li class="margin-left-10"><a>Feedback</a></li>
          <li class="margin-left-10"><a>Sitemap</a></li>
        </ul>
      </div>
      <div class="col-6 text-right">
        <span><a routerLink="/library">Skip to Library</a></span>
        <span class="margin-left-10">{{date}}</span>
      </div>
    </div>
  </div>
</mat-toolbar>
<div class="main-container">
  <div class="row margin-top-30">
    <div class="col-2 remove-right-padding">
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Filter By</mat-label>
        <mat-select [(ngModel)]="selectedCtrlName">
          <mat-option *ngFor='let filter of filterOptions' [value]=filter>{{filter}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-10">
      <div *ngIf="selectedCtrlName === 'Book Name'">
        <mat-form-field class="form-field" appearance="outline">
          <mat-label>Search Books</mat-label>
          <input matInput type="text" [(ngModel)]='searchTerm' placeholder="Search Book By Book Name">
        </mat-form-field>
      </div>
      <div *ngIf="selectedCtrlName === 'Author Name'">
        <mat-form-field class="form-field" appearance="outline">
          <mat-label>Search Books</mat-label>
          <input matInput type="text" placeholder="Search Book By Author Name">
        </mat-form-field>
      </div>
      <div *ngIf="selectedCtrlName === 'Publisher'">
        <mat-form-field class="form-field" appearance="outline">
          <mat-label>Search Books</mat-label>
          <input matInput type="text" placeholder="Search Book By Publisher">
        </mat-form-field>
      </div>
      <div *ngIf="selectedCtrlName === 'Language'">
        <mat-form-field class="form-field" appearance="outline">
          <mat-label>Search Books</mat-label>
          <input matInput type="text" placeholder="Search Book By Language">
        </mat-form-field>
      </div>
      <div *ngIf="selectedCtrlName === 'Subject'">
        <mat-form-field class="form-field" appearance="outline">
          <mat-label>Search Books</mat-label>
          <input matInput type="text" placeholder="Search Book By Subject">
        </mat-form-field>
      </div>

    </div>
  </div>
  <mat-card class="margin-bottom-30" *ngFor="let book of books | bookFilter:searchTerm">
    <div class="row">
      <div class="col-2">
        <div class="book-image-container">
          <img class="book-image" [src]="book.imagePath" [alt]="book.title">
        </div>
      </div>
      <div class="col-10">
        <div class="row">
          <div class="col-6">
            <h2 class="font-size-18">Book Information</h2>
          </div>
          <!-- <div class="col-6 text-right" *ngIf="userIsAuthenticated">
            <a [routerLink]="['/admin/edit-book', book.id]"><i
                class=" far fa-edit font-size-20 font-color-blue "></i></a>
            <a (click)="onDelete(book.id)"><i
                class=" far fa-trash-alt font-size-20 font-color-red margin-left-10"></i></a>
          </div> -->
        </div>

        <div class="row margin-top-10">
          <div class="col-6">
            <span class="line-height-24 font-color-green font-weight-500">Book Name : </span>
            <span class="text-captialize">{{book.title}}</span><br>
            <span class="line-height-24 font-color-green font-weight-500">ISBN : </span><br>
            <span class="line-height-24 font-color-green font-weight-500">Author : </span><br>
            <span class="line-height-24 font-color-green font-weight-500">Publisher : </span><br>
            <span class="line-height-24 font-color-green font-weight-500">Publication Year : </span><br>
            <span class="line-height-24 font-color-green font-weight-500">Volume :</span><br>
            <span class="line-height-24 font-color-green font-weight-500">Edition : </span><br>

          </div>
          <div class="col-6">
            <span class="line-height-24 font-color-green font-weight-500">Total Pages : </span><br>
            <span class="line-height-24 font-color-green font-weight-500">Media : </span><br>
            <span class="line-height-24 font-color-green font-weight-500">Subject : </span><br>
            <span class="line-height-24 font-color-green font-weight-500">Branch : </span><br>
            <span class="line-height-24 font-color-green font-weight-500">Language : </span><br>
          </div>
        </div>

      </div>
    </div>
  </mat-card>
  <div class="text-center">
    <mat-paginator [length]="totalBooks" [pageSize]="booksPerPage" [pageSizeOptions]="pageSizeOptions"
      (page)="onChangePage($event)" *ngIf="books.length > 0"></mat-paginator>
  </div>
  <div>
    <p *ngIf="books.length <= 0 && !isLoading">No Record Found</p>
  </div>
</div>
<app-lib-footer></app-lib-footer>