<!-- <mat-spinner *ngIf="isLoading"></mat-spinner>
<form (submit)="onLogin(loginForm)" #loginForm="ngForm" *ngIf="!isLoading">
  <input type="email" name="email" ngModel #emailInput="ngModel" placeholder="Please enter valid email" required email>
  <input type="password" name="password" ngModel #passwordInput="ngModel" placeholder="Password" required>


  <hr>
  <button type="submit" *ngIf="!isLoading">Login</button>

</form> -->
<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-card class="remove-box-shadow">
  <mat-card-title>
    <h2 class="font-size-18">Admin Login</h2>
  </mat-card-title>
  <mat-card-content>
    <form (submit)="onLogin(loginForm)" #loginForm="ngForm" *ngIf="!isLoading">
      <mat-form-field class="form-field margin-top-10" appearance="outline">
        <mat-label>Enter Email Id</mat-label>
        <input matInput type="email" name="email" ngModel #emailInput="ngModel" placeholder="Please enter valid email"
          required email>
      </mat-form-field>
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Enter Password</mat-label>
        <input matInput type="password" name="password" ngModel #passwordInput="ngModel" placeholder="Password"
          required>
      </mat-form-field>
      <div class="text-center">
        <button mat-button class="btn-success">Login</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>