<div class="main-container">
  <div class="homepage-about-container">
    <div>
      <p class="font-size-14 line-height-18">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
        tincidunt elit eros,
        eget iaculis nibh
        posuere ut.
        Nunc varius magna non arcu ornare, sit amet porta ex volutpat. Donec bibendum auctor urna quis pretium. Nam
        consequat
        lacinia gravida.</p>
      <p class="text-right font-size-14"><a>Read More...</a></p>
    </div>
  </div>
</div>