.hp-content-image {
  height: 150px;
  width: 100%;
}

.jharkhand-logo {
  width: 100%;
  height: 50px;
  background-color: white;
  padding: 6px;
}

.jh-logo {
  width: 32px;
}

.book-image {
  width: 100%;
  height: 100%;

  border-radius: 5px;
}

.book-title {
  position: absolute;
  bottom: 0;
  background-color: rgb(0, 0, 0, 0.8);
  color: #fff;
  width: 148px;
  height: 35px;
  padding: 10px;
  font-size: 14px !important;
  text-align: center;
}

.upload-book-image {
  width: 148px !important;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
}

.spacer {
  flex: 1 1 auto !important;
}

.image-not-uploaded-contanier {
  position: absolute;
  margin: 0 35%;
  width: 500px;
  top: -15px;
  text-align: center;
  color: red !important;
}
