<div class="main-container">
  <div class="row">
    <div class="col-4">
      <mat-card>
        <mat-card-title>
          <h2 class="font-size-18">State Museum Ranchi</h2>
        </mat-card-title>
        <mat-card-content>
          <img class="hp-content-image"
            src="https://images.pexels.com/photos/797824/pexels-photo-797824.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
          <div class="text-container">
            <p id="text-regulator" class="font-size-14 text-regulator">Lorem ipsum dolor sit amet, consectetur
              adipiscing elit.
              Vestibulum
              tincidunt elit
              eros,
              eget iaculis nibh posuere ut.
              Nunc varius magna non arcu ornare, sit amet porta ex volutpat. Donec bibendum auctor urna quis pretium.
              Nam
              consequat
              lacinia gravida.</p>
            <p class="font-size-14 text-right">Read More...</p>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-4">
      <mat-card>
        <mat-card-title>
          <h2 class="font-size-18">Library</h2>
        </mat-card-title>
        <mat-card-content>
          <img class="hp-content-image"
            src="https://images.pexels.com/photos/797824/pexels-photo-797824.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
          <div class="text-container">
            <p id="text-regulator" class="font-size-14 text-regulator">Lorem ipsum dolor sit amet, consectetur
              adipiscing elit. Vestibulum
              tincidunt elit
              eros,
              eget iaculis nibh posuere ut.
              Nunc varius magna non arcu ornare, sit amet porta ex volutpat. Donec bibendum auctor urna quis pretium.
              Nam
              consequat
              lacinia gravida.</p>
            <p class="font-size-14 text-right">Read More...</p>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-4">
      <mat-card>
        <mat-card-title>
          <h2 class="font-size-18">Auditorium</h2>
        </mat-card-title>
        <mat-card-content>
          <img class="hp-content-image"
            src="https://images.pexels.com/photos/797824/pexels-photo-797824.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
          <div class="text-container">
            <p id="text-regulator" class="font-size-14 text-regulator">Lorem ipsum dolor sit amet, consectetur
              adipiscing elit. Vestibulum
              tincidunt elit
              eros,
              eget iaculis nibh posuere ut.
              Nunc varius magna non arcu ornare, sit amet porta ex volutpat. Donec bibendum auctor urna quis pretium.
              Nam
              consequat
              lacinia gravida.</p>
            <p class="font-size-14 text-right">Read More...</p>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>