<div class="homepage-container">
  <app-lib-header></app-lib-header>
  <app-lib-navigation></app-lib-navigation>
  <app-lib-caousel></app-lib-caousel>
  <app-lib-recent-books></app-lib-recent-books>
  <app-lib-content></app-lib-content>
  <app-lib-footer></app-lib-footer>
</div>