<div class="main-container">
  <div class="navigation-container">
    <div class="row">
      <div class="col-12">
        <nav>
          <ul class="main-header-ul">
            <li><button mat-button>About Us</button></li>
            <li><button mat-button>Library</button></li>
            <li><button mat-button>Auditorium</button></li>
            <li><button mat-button>Collections</button></li>
            <li><button mat-button>Visiting</button></li>
            <li><button mat-button>Explore</button></li>
            <li><button mat-button>Publication</button></li>
            <li><button mat-button>Events</button></li>
            <li><button mat-button>Notice</button></li>
            <li><button mat-button>Tenders</button></li>
            <li><button mat-button>Acts and Rules</button></li>
          </ul>

        </nav>

      </div>
    </div>
  </div>
</div>