<div class="main-container">
  <div class="homepage-notification-container">
    <div class="row">
      <div class="col-4">
        <h2 class="font-size-18">Events</h2>
        <div class="notification-text-container">
          <marquee behavior="scroll" direction="up" style="height:150px;" scrolldelay="400" scrollamount="10"
            onmouseover="this.stop();" onmouseout="this.start();">
            <ul class="custom-list-style font-size-14">
              <li><a class="line-height-18 ">Event Name - Event Title - Event Date (12-11-2019)</a></li>
              <li><a class="line-height-18">Event Name - Event Title - Event Date (12-11-2019)</a></li>
              <li><a class="line-height-18">Event Name - Event Title - Event Date (12-11-2019)</a></li>
              <li><a class="line-height-18">Event Name - Event Title - Event Date (12-11-2019)</a></li>
              <li><a class="line-height-18">Event Name - Event Title - Event Date (12-11-2019)</a></li>
              <li><a class="line-height-18">Event Name - Event Title - Event Date (12-11-2019)</a></li>
              <li><a class="line-height-18">Event Name - Event Title - Event Date (12-11-2019)</a></li>
              <li><a class="line-height-18">Event Name - Event Title - Event Date (12-11-2019)</a></li>
            </ul>
          </marquee>
        </div>
      </div>
      <div class="col-4">
        <h2 class="font-size-18">Tenders</h2>
        <div class="notification-text-container">
          <marquee behavior="scroll" direction="up" style="height:150px;" scrolldelay="400" scrollamount="10"
            onmouseover="this.stop();" onmouseout="this.start();">

            <ul class="custom-list-style font-size-14">
              <li><a class="line-height-18">Event Name - Event Title - Event Date (12-11-2019)</a></li>
              <li><a class="line-height-18">Event Name - Event Title - Event Date (12-11-2019)</a></li>
              <li><a class="line-height-18">Event Name - Event Title - Event Date (12-11-2019)</a></li>
              <li><a class="line-height-18">Event Name - Event Title - Event Date (12-11-2019)</a></li>
              <li><a class="line-height-18">Event Name - Event Title - Event Date (12-11-2019)</a></li>
              <li><a class="line-height-18">Event Name - Event Title - Event Date (12-11-2019)</a></li>
              <li><a class="line-height-18">Event Name - Event Title - Event Date (12-11-2019)</a></li>
              <li><a class="line-height-18">Event Name - Event Title - Event Date (12-11-2019)</a></li>
            </ul>
          </marquee>
        </div>
      </div>
      <div class="col-4">
        <h2 class="font-size-18">News</h2>
        <div class="notification-text-container">
          <marquee behavior="scroll" direction="up" style="height:150px;" scrolldelay="400" scrollamount="10"
            onmouseover="this.stop();" onmouseout="this.start();">

            <ul class="custom-list-style font-size-14">
              <li><a class="line-height-18">Event Name - Event Title - Event Date (12-11-2019)</a></li>
              <li><a class="line-height-18">Event Name - Event Title - Event Date (12-11-2019)</a></li>
              <li><a class="line-height-18">Event Name - Event Title - Event Date (12-11-2019)</a></li>
              <li><a class="line-height-18">Event Name - Event Title - Event Date (12-11-2019)</a></li>
              <li><a class="line-height-18">Event Name - Event Title - Event Date (12-11-2019)</a></li>
              <li><a class="line-height-18">Event Name - Event Title - Event Date (12-11-2019)</a></li>
              <li><a class="line-height-18">Event Name - Event Title - Event Date (12-11-2019)</a></li>
              <li><a class="line-height-18">Event Name - Event Title - Event Date (12-11-2019)</a></li>
            </ul>
          </marquee>
        </div>
      </div>
    </div>
  </div>
</div>