h1.font-size-20 {
  font-size: 20px !important;
  font-family: 'Noto Serif JP', serif !important;
  font-style: italic;
  font-weight: 600;
}

h2.font-size-18 {
  font-size: 18px !important;
}

h3.font-size-16 {
  font-size: 16px !important;
}

h1.hindi {
  font-size: 20px !important;
  font-family: 'Noto Serif JP', serif !important;
  font-style: italic;
  font-weight: 500;
}

.font-size-14 {
  font-size: 14 !important;
}
.font-size-12 {
  font-size: 12px !important;
}
.font-size-20 {
  font-size: 20px !important;
}
.font-size-24 {
  font-size: 24px !important;
}
.line-height-18 {
  line-height: 18px;
}

.line-height-36 {
  line-height: 36px;
}

.font-bold {
  font-weight: bold;
}

.font-italic {
  font-style: italic;
}

.font-white {
  color: white;
}

.line-height-32 {
  line-height: 32px;
}

.line-height-24 {
  line-height: 24px;
}

.inline-flex {
  display: inline-flex !important;
}

.font-weight-500 {
  font-weight: 500;
}

.z-index-1 {
  z-index: 1 !important;
}

.font-color-black {
  color: black !important;
}

.font-color-green {
  color: #00918e;
}

.font-color-blue {
  color: darkblue;
}

.font-color-red {
  color: red;
}

.font-size-10 {
  font-size: 10px !important;
}

.text-captialize {
  text-transform: capitalize;
}

.font-size-28 {
  font-size: 28px !important;
}

.font-size-18 {
  font-size: 18px !important;
}

.text-overflow {
  overflow: visible !important;
}
