<mat-toolbar class="main-toolbar">
  <div class="main-container">
    <div class="row">
      <div class="col-6">
        <ul class="main-header-ul ">
          <li><a>Home</a></li>
          <li class="margin-left-10"><a>Feedback</a></li>
          <li class="margin-left-10"><a>Sitemap</a></li>
        </ul>
      </div>
      <div class="col-6 text-right">
        <span><a routerLink="/library">Skip to Library</a></span>
        <span class="margin-left-10">{{date}}</span>
      </div>
    </div>
  </div>
</mat-toolbar>
<mat-toolbar class="secondary-toolbar">
  <div class="main-container">
    <div class="row">
      <div class="col-1">
        <img src="">
      </div>
      <div class="col-8">
        <h1 class="hindi">राज्य संग्रहालय और पुस्तकालय ~ रांची</h1>
        <h1 class="font-size-20">State Museum & Library ~ Ranchi</h1>
      </div>
      <div class="col-1">
        <img src="">
      </div>
    </div>

  </div>
</mat-toolbar>