<mat-toolbar class="admin-toolbar">
  <button *ngIf="userIsAuthenticated" mat-button (click)="sidenav.toggle()">Menu</button>
  <div class="spacer"></div>
  <button *ngIf="userIsAuthenticated" mat-button (click)="onLogout()">Logout</button>
</mat-toolbar>
<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav [mode]="mode">

    <mat-accordion>
      <mat-expansion-panel class="admin-expansion-panel">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Books
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ul>
          <li>
            <button mat-button *ngIf="userIsAuthenticated" class="button-100" routerLink='/admin/add-book'><i
                class="far fa-plus-square"></i><span class="margin-left-10">Add
                Books</span></button>
          </li>
          <li><button class="button-100" mat-button routerLink='/admin/get-books'><i
                class="far fa-folder-open"></i><span class="margin-left-10">Get
                Books</span></button></li>
        </ul>


      </mat-expansion-panel>
      <mat-expansion-panel class="admin-expansion-panel">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Users
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ul>
          <li>
            <button mat-button *ngIf="userIsAuthenticated" class="button-100"><i class="fas fa-user-plus"></i><span
                class="margin-left-10">Add
                User</span></button>
          </li>
          <li><button class="button-100" mat-button><i class="fas fa-users"></i><span class="margin-left-10">Get
                Users</span></button></li>
        </ul>


      </mat-expansion-panel>
      <mat-expansion-panel class="admin-expansion-panel">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Staffs
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ul>
          <li>
            <button mat-button *ngIf="userIsAuthenticated" class="button-100" (click)="check()"
              routerlink='/admin/add-staff'><i class="fas fa-user-plus"></i><span class="margin-left-10">Add
                Staff</span></button>
          </li>
          <li><button class="button-100" mat-button routerLink='/admin/get-staffs'><i class="fas fa-users"></i><span
                class="margin-left-10">Get
                Staff</span></button></li>
        </ul>


      </mat-expansion-panel>
    </mat-accordion>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>