<div class="footer-container margin-top-30">
  <div class="main-container">
    <div class="row">
      <div class="col-2">
        <div class="footer-text-container font-white">
          <h3 class="font-size-16">About Museum</h3>
          <ul class="margin-top-10 line-height-18">
            <li><a class="font-size-12">History</a></li>
            <li><a class="font-size-12">Vision & Mission</a></li>
            <li><a class="font-size-12">Library</a></li>
            <li><a class="font-size-12">Public Relation</a></li>
          </ul>
        </div>
      </div>
      <div class="col-2">
        <div class="footer-text-container font-white">
          <h3 class="font-size-16">Collection</h3>
          <ul class="margin-top-10 line-height-18">
            <li><a class="font-size-12">Archeology</a></li>
            <li><a class="font-size-12">Ethnology</a></li>
            <li><a class="font-size-12">Arms & Armour</a></li>
            <li><a class="font-size-12">Paintings</a></li>
          </ul>
        </div>
      </div>
      <div class="col-2">
        <div class="footer-text-container font-white">
          <h3 class="font-size-16">Events</h3>
          <ul class="margin-top-10 line-height-18">
            <li><a class="font-size-12">Upcoming Events</a></li>
            <li><a class="font-size-12">Ongoing Events</a></li>
            <li><a class="font-size-12">Past Events</a></li>
            <li><a class="font-size-12">Live Streaming</a></li>
          </ul>
        </div>
      </div>
      <div class="col-2">
        <div class="footer-text-container font-white">
          <h3 class="font-size-16">Publication</h3>
          <ul class="margin-top-10 line-height-18">
            <li><a class="font-size-12">Books</a></li>
            <li><a class="font-size-12">Catalogue</a></li>
            <li><a class="font-size-12">Brouchers</a></li>
            <li><a class="font-size-12">Portfolios</a></li>
            <li><a class="font-size-12">Downloads</a></li>
          </ul>
        </div>
      </div>
      <div class="col-2">
        <div class="footer-text-container font-white">
          <h3 class="font-size-16">Other Links</h3>
          <ul class="margin-top-10 line-height-18  ">
            <li><a class="font-size-12">Vacanies</a></li>
            <li><a class="font-size-12">Visiting</a></li>
            <li><a class="font-size-12">Events Calender</a></li>
            <li><a class="font-size-12">Tenders</a></li>
            <li><a class="font-size-12">FAQs</a></li>
            <li><a class="font-size-12">Feedback</a></li>
            <li><a class="font-size-12">Contact Us</a></li>
          </ul>
        </div>
      </div>
      <div class="col-2">
        <div class="footer-text-container font-white">
          <div>
            <a><i class="fab fa-facebook-square font-size-20"></i></a>
            <a><i class="fab fa-twitter-square font-size-20 margin-left-10"></i></a>
            <a><i class="fab fa-youtube margin-left-10 font-size-20"></i></a>
            <a><i class="far fa-envelope margin-left-10 font-size-20"></i></a>
          </div>
          <div class="jharkhand-logo  margin-top-10">
            <a href="https://www.jharkhand.gov.in/" class="inline-flex" alt="Jharkhand Govenment Website"
              target="_blank">
              <img class="jh-logo" src="../../../assets/images/jh-logo.png">
              <div>
                <span class="font-color-black font-size-10 font-bold"> Government of Jharkhand</span>
              </div>
            </a>
          </div>
          <div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="secondary-footer">
  <div class="main-container">
    <div class="footer-text-container">
      <div class="row">
        <div class="col-7">
          <span><a class="font-size-12">Terms and Conditions</a> | <a class="font-size-12">Privacy Policy</a>
            | <a class="font-size-12">Copyright Policy</a> |
            <a class="font-size-12">Disclamier</a> |
            <a class="font-size-12">Help</a></span>
        </div>
        <div class="col-5 text-right">
          <span class="text-right font-size-12">Website Updated on : 12-11-2019</span>
        </div>
      </div>
      <div class="row line-height-32 ">
        <div class="col-7">
          <span class="font-size-12">Copyright &#169; 2019 All Rights Reserved, State Museum & Library ~ Ranchi
          </span>
        </div>
        <div class="col-5 text-right">
          <span class="text-right font-size-12">Site Visitor :</span><span class="font-size-12 font-bold">254689</span>
        </div>
      </div>
    </div>
  </div>
</div>