<div class="main-container">
  <div class="row">
    <div class="col-8 remove-right-padding">
      <div class="slideshowContainer librarySlideShowContainer">

        <!-- Replace the image 'src' with the images in your project.
        Javascript is set up so that you can add as many images as you like, but make sure that you match the number of 'circle' span elements (below) to the number of images -->
        <img class="imageSlides"
          src="http://s1.picswalls.com/wallpapers/2015/09/20/beautiful-hd-wallpaper-2015_111526537_269.jpg"
          alt="beach side city view">
        <img class="imageSlides"
          src="http://4.bp.blogspot.com/-oxlezteeOII/TfiTImj4RlI/AAAAAAAAA1k/UAgctmU5VZo/s1600/Widescreen+Unique+And+Beautiful+Photography+%25284%2529.jpg"
          alt="leaf on the ground">
        <img class="imageSlides" src="https://i.pinimg.com/originals/cf/ed/a0/cfeda03d01da4b779093c9d928c01dee.jpg"
          alt="lake surrounded by mountains">

        <!-- I would recommend to replace these 'span' elements with 'img' files
        for each the left and right arrow that fits your project, and size accordingly.
        I've shown 'span' elements because I didn't want to upload files. -->
        <span id="leftArrow" class="slideshowArrow">&#8249;</span>
        <span id="rightArrow" class="slideshowArrow">&#8250;</span>

        <div class="slideshowCircles">
          <!-- Filled 'dot' class is set to first image in slideshow, and then via Javascript the filled 'dot' class follows the current image.
        Make sure you match the number of these 'circle' span elements to the number of images in your slideshow. -->
          <span class="circle dot"></span>
          <span class="circle"></span>
          <span class="circle"></span>
        </div>

      </div>
    </div>
    <div class="col-4 remove-left-padding ">
      <!-- <mat-card class="remove-box-shadow">
        <mat-card-title>
          <h2 class="font-size-18">Admin Login</h2>
        </mat-card-title>
        <mat-card-content>
          <form>
            <mat-form-field class="form-field margin-top-10" appearance="outline">
              <mat-label>Enter Email Id</mat-label>
              <input matInput placeholder="Enter Registered Email ID">
            </mat-form-field>
            <mat-form-field class="form-field" appearance="outline">
              <mat-label>Enter Password</mat-label>
              <input matInput placeholder="Enter Password">
            </mat-form-field>
            <div class="text-center">
              <button mat-button class="btn-success">Login</button>
            </div>
          </form>
        </mat-card-content>
      </mat-card> -->
      <app-login></app-login>
    </div>
  </div>

</div>