<div class="homepage-container">
  <app-main-header></app-main-header>
  <app-navigation></app-navigation>
  <app-carousel></app-carousel>
  <app-homepage-about></app-homepage-about>
  <app-homepage-content></app-homepage-content>
  <app-homepage-notification></app-homepage-notification>
  <app-homepage-footer></app-homepage-footer>
</div>