<mat-spinner *ngIf="isLoading"></mat-spinner>
<form (submit)="onSignup(signupForm)" #signupForm="ngForm" *ngIf="!isLoading">
  <input type="email" name="email" ngModel #emailInput="ngModel" placeholder="Please enter valid email" required email>
  <input type="password" name="password" ngModel #passwordInput="ngModel" placeholder="Password" required>


  <hr>
  <button type="submit" *ngIf="!isLoading">Signup</button>

</form>