<div class="main-container">
  <div class="row margin-top-30">
    <div class="col-4">
      <mat-card>
        <mat-card-title>
          <h2 class="font-size-18">Total Books</h2>
        </mat-card-title>
        <mat-card-content>
          <div class="text-container">
            <p id="text-regulator" class="font-size-14 text-regulator">Lorem ipsum dolor sit amet, consectetur
              adipiscing elit.
              Vestibulum
              tincidunt elit
              eros,
              eget iaculis nibh posuere ut.
              Nunc varius magna non arcu ornare, sit amet porta ex volutpat. Donec bibendum auctor urna quis pretium.
              Nam
              consequat
              lacinia gravida.</p>
            <p class="font-size-14 text-right">Read More...</p>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-4">
      <mat-card>
        <mat-card-title>
          <h2 class="font-size-18">TIming & Service</h2>
        </mat-card-title>
        <mat-card-content>
          <div class="text-container">
            <p id="text-regulator" class="font-size-14 text-regulator">Lorem ipsum dolor sit amet, consectetur
              adipiscing elit. Vestibulum
              tincidunt elit
              eros,
              eget iaculis nibh posuere ut.
              Nunc varius magna non arcu ornare, sit amet porta ex volutpat. Donec bibendum auctor urna quis pretium.
              Nam
              consequat
              lacinia gravida.</p>
            <p class="font-size-14 text-right">Read More...</p>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-4">
      <mat-card>
        <mat-card-title>
          <h2 class="font-size-18">Location</h2>
        </mat-card-title>
        <mat-card-content>
          <div class="text-container">
            <p id="text-regulator" class="font-size-14 text-regulator">Lorem ipsum dolor sit amet, consectetur
              adipiscing elit. Vestibulum
              tincidunt elit
              eros,
              eget iaculis nibh posuere ut.
              Nunc varius magna non arcu ornare, sit amet porta ex volutpat. Donec bibendum auctor urna quis pretium.
              Nam
              consequat
              lacinia gravida.</p>
            <p class="font-size-14 text-right">Read More...</p>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>