<!-- <mat-spinner *ngIf="isLoading"></mat-spinner>
<form [formGroup]="form" (submit)="onSaveBook()" *ngIf="!isLoading">
  <input type="text" name="title" formControlName="title" placeholder="book title"><br>
  <input type="text" name="isbn" formControlName="isbn" placeholder="isbn"><br>
  <input type="text" name="author" formControlName="author" placeholder="author"><br>
  <input type="text" name="publication" formControlName="publication" placeholder="publication"><br>
  <input type="text" name="publicationYear" formControlName="publicationYear" placeholder="publication year"><br>
  <input type="text" name="volume" formControlName="volume" placeholder="volume"><br>
  <input type="text" name="edition" formControlName="edition" placeholder="edition"><br>
  <input type="text" name="totalPages" formControlName="totalPages" placeholder="totalpages"><br>
  <input type="text" name="media" formControlName="media" placeholder="media"><br>
  <input type="text" name="subject" formControlName="subject" placeholder="subject"><br>
  <input type="text" name="branch" formControlName="branch" placeholder="branch"><br>
  <input type="text" name="language" formControlName="language" placeholder="language"><br>
  <textarea rows="6" name="content" formControlName="content" placeholder="remark"></textarea>
  <button type="button" (click)=filePicker.click()>Pick Image</button>
  <input type="file" #filePicker (change)='onImagePicked($event)'>
  <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview && form.get('image').valid">
    <img [src]="imagePreview" alt="form.value.title">
  </div>
  <hr>
  <button type="submit">Save Post</button>
</form> -->
<div class="admin-container">
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <mat-card>
    <div class="row">
      <div class="col-12">
        <h2 class="font-size-18">Add Book</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="image-not-uploaded-contanier">{{ErrorMessageImageNotFound}}</div>
      </div>
    </div>
    <form [formGroup]="form" (submit)="onSaveBook()" *ngIf="!isLoading">
      <div class="row">
        <div class="col-6">

          <div class="row margin-top-30">
            <div class="col-6">

              <mat-form-field class="form-field" appearance="outline">
                <mat-label>Enter Book Name</mat-label>
                <input matInput type="text" placeholder="Book Name" name="title" formControlName="title" required>
                <mat-error *ngIf="form.get('title').invalid">
                  <div class="form-error">Please enter valid book
                    name</div>
                </mat-error>
              </mat-form-field>
              <mat-form-field class="form-field" appearance="outline">
                <mat-label>Enter ISBN No.</mat-label>
                <input matInput type="number" pattern="\d{13}" oninput="if(value.length>13)value=value.slice(0,13)"
                  placeholder="ISBN No." name="isbn" formControlName="isbn" required>
                <mat-error *ngIf="form.get('isbn').invalid">
                  <div class="form-error">Please enter 13 digit ISBN no.</div>
                </mat-error>
              </mat-form-field>
              <mat-form-field class="form-field" appearance="outline">
                <mat-label>Enter Author Name</mat-label>
                <input matInput type="text" placeholder="Author Name" name="author" formControlName="author" required>
                <mat-error *ngIf="form.get('author').invalid">
                  <div class="form-error">Please enter valid author
                    name</div>
                </mat-error>
              </mat-form-field>
              <mat-form-field class="form-field" appearance="outline">
                <mat-label>Enter Publication Name</mat-label>
                <input matInput type="text" placeholder="Publication Name" name="publication"
                  formControlName="publication" required>
                <mat-error *ngIf="form.get('publication').invalid">
                  <div class="form-error">Please enter valid publication</div>
                </mat-error>
              </mat-form-field>
              <mat-form-field class="form-field" appearance="outline">
                <mat-label>Enter Publication Year</mat-label>
                <input matInput type="number" pattern="\d{4}" oninput="if(value.length>4)value=value.slice(0,4)"
                  placeholder="Publication Name" name="publicationYear" formControlName="publicationYear" required>
                <mat-error *ngIf="form.get('publicationYear').invalid">
                  <div class="form-error">Please enter valid publication year. eg : 1994</div>
                </mat-error>
              </mat-form-field>
              <mat-form-field class="form-field" appearance="outline">
                <mat-label>Enter Volume</mat-label>
                <input matInput type="number" pattern="\d{3}" oninput="if(value.length>3)value=value.slice(0,3)"
                  placeholder=" Volume No" name="volume" formControlName="volume" required>
                <mat-error *ngIf="form.get('volume').invalid">
                  <div class="form-error">Please enter valid volume no. eg : 1</div>
                </mat-error>
              </mat-form-field>
              <mat-form-field class="form-field" appearance="outline">
                <mat-label>Enter Edition</mat-label>
                <input matInput type="number" pattern="\d{2}" oninput="if(value.length>2)value=value.slice(0,2)"
                  placeholder=" Book Edition" name="edition" formControlName="edition" required>
                <mat-error *ngIf="form.get('edition').invalid">
                  <div class="form-error">Please enter valid edition. eg : 1</div>
                </mat-error>
              </mat-form-field>

            </div>
            <div class="col-6">
              <mat-form-field class="form-field" appearance="outline">
                <mat-label>Total Pages</mat-label>
                <input matInput type="number" pattern="\d{5}" oninput="if(value.length>5)value=value.slice(0,5)"
                  placeholder="Total Pages" name="totalPages" formControlName="totalPages" required>
                <mat-error *ngIf="form.get('totalPages').invalid">
                  <div class="form-error">Please enter total no of Pages. eg : 256</div>
                </mat-error>
              </mat-form-field>
              <mat-form-field class="form-field" appearance="outline">
                <mat-label>Media</mat-label>
                <!-- <input matInput type="text" placeholder="Media" formControlName="media" placeholder="media" required> -->
                <mat-select placeholder="Media" formControlName="media" placeholder="media" required>
                  <mat-option *ngFor="let media of mediaType" [value]="media.type">{{media.type}}</mat-option>
                </mat-select>
                <mat-error *ngIf="form.get('media').invalid">
                  <div class="form-error">Please enter media. eg : Book</div>
                </mat-error>
              </mat-form-field>
              <mat-form-field class="form-field" appearance="outline">
                <mat-label>Subject</mat-label>
                <!-- <input matInput type="text" placeholder="Subject" name="subject" formControlName="subject" required> -->
                <mat-select placeholder="Subject" name="subject" formControlName="subject" required>
                  <mat-option *ngFor="let subject of subjects" [value]='subject.value'>{{subject.value}}</mat-option>
                </mat-select>
                <mat-error *ngIf="form.get('subject').invalid">
                  <div class="form-error">Please enter subject. eg : Histroy</div>
                </mat-error>
              </mat-form-field>
              <mat-form-field class="form-field" appearance="outline">
                <mat-label>Branch</mat-label>
                <input matInput type="text" placeholder="Branch" name="branch" formControlName="branch" required>
                <mat-error *ngIf="form.get('branch').invalid">
                  <div class="form-error">Please enter branch. eg : Arts</div>
                </mat-error>
              </mat-form-field>
              <mat-form-field class="form-field" appearance="outline">
                <mat-label>Language</mat-label>
                <input matInput type="text" placeholder="Language" name="language" formControlName="language" required>
                <mat-error *ngIf="form.get('language').invalid">
                  <div class="form-error">Please enter language. eg : English</div>
                </mat-error>
              </mat-form-field>
              <mat-form-field class="form-field" appearance="outline">
                <mat-label>Book Details</mat-label>
                <textarea matInput type="text" rows="6" placeholder=" Enter Brief Introduction of Book" name="content"
                  formControlName="content" required></textarea>
                <mat-error *ngIf="form.get('edition').invalid">
                  <div class="form-error">Please enter description </div>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row margin-top-30 text-center">
            <div class="col-12">
              <button mat-button class="btn-success" type="submit">Add Book</button>
              <button mat-button class="btn-danger btn-spacer" (click)='resetForm()'>Reset</button>
            </div>
          </div>
          <div class="margin-top-30">

          </div>

        </div>
        <div class="col-6">
          <div class="row margin-top-30 ">
            <div class="col-3 text-center">
              <div class="book-image-container margin-left-23">
                <img class="book-image" [src]="imagePreview" alt="form.value.title">
              </div>
              <div class="margin-top-30">
                <button mat-button class="upload-book-image" type="button" (click)=filePicker.click()>Upload
                  Book Cover</button>
                <input type="file" #filePicker (change)='onImagePicked($event)'>
              </div>
            </div>
            <div class="col-9">
              <div class="row">
                <div class="col-12">
                  <div class="row margin-top-10">
                    <div class="col-4"><span class="font-size-18 font-color-green font-weight-500">Book
                        Name </span></div>
                    <div class="col-1">:</div>
                    <div class="col-7"><span class="text-captialize font-size-18">{{form.value.title}}</span></div>
                  </div>
                  <div class="row margin-top-10">
                    <div class="col-4"><span class="font-size-18 font-color-green font-weight-500">ISBN No </span>
                    </div>
                    <div class="col-1">:</div>
                    <div class="col-7"><span class="text-captialize font-size-18">{{form.value.isbn}}</span></div>
                  </div>
                  <div class="row margin-top-10">
                    <div class="col-4"><span class="font-size-18 font-color-green font-weight-500">Author's Name </span>
                    </div>
                    <div class="col-1">:</div>
                    <div class="col-7"><span class="text-captialize font-size-18">{{form.value.author}}</span></div>
                  </div>
                  <div class="row margin-top-10">
                    <div class="col-4"><span class="font-size-18 font-color-green font-weight-500">Publisher's Name
                      </span></div>
                    <div class="col-1">:</div>
                    <div class="col-7"><span class="text-captialize font-size-18">{{form.value.publication}}</span>
                    </div>
                  </div>
                  <div class="row margin-top-10">
                    <div class="col-4"><span class="font-size-18 font-color-green font-weight-500">Publishing Year
                      </span></div>
                    <div class="col-1">:</div>
                    <div class="col-7"><span class="text-captialize font-size-18">{{form.value.publicationYear}}</span>
                    </div>
                  </div>
                  <div class="row margin-top-10">
                    <div class="col-4"><span class="font-size-18 font-color-green font-weight-500">Volume </span></div>
                    <div class="col-1">:</div>
                    <div class="col-7"><span class="text-captialize font-size-18">{{form.value.volume}}</span></div>
                  </div>
                  <div class="row margin-top-10">
                    <div class="col-4"><span class="font-size-18 font-color-green font-weight-500">Edition </span></div>
                    <div class="col-1">:</div>
                    <div class="col-7"><span class="text-captialize font-size-18">{{form.value.edition}}</span></div>
                  </div>
                  <div class="row margin-top-10">
                    <div class="col-4"><span class="font-size-18 font-color-green font-weight-500">Total Pages </span>
                    </div>
                    <div class="col-1">:</div>
                    <div class="col-7"><span class="text-captialize font-size-18">{{form.value.totalPages}}</span></div>
                  </div>
                  <div class="row margin-top-10">
                    <div class="col-4"><span class="font-size-18 font-color-green font-weight-500">Media </span></div>
                    <div class="col-1">:</div>
                    <div class="col-7"><span class="text-captialize font-size-18">{{form.value.media}}</span></div>
                  </div>
                  <div class="row margin-top-10">
                    <div class="col-4"><span class="font-size-18 font-color-green font-weight-500">Subject </span></div>
                    <div class="col-1">:</div>
                    <div class="col-7"><span class="text-captialize font-size-18">{{form.value.subject}}</span></div>
                  </div>
                  <div class="row margin-top-10">
                    <div class="col-4"><span class="font-size-18 font-color-green font-weight-500">Branch </span></div>
                    <div class="col-1">:</div>
                    <div class="col-7"><span class="text-captialize font-size-18">{{form.value.branch}}</span></div>
                  </div>
                  <div class="row margin-top-10">
                    <div class="col-4"><span class="font-size-18 font-color-green font-weight-500">Language </span>
                    </div>
                    <div class="col-1">:</div>
                    <div class="col-7"><span class="text-captialize font-size-18">{{form.value.language}}</span></div>
                  </div>
                  <div class="row margin-top-10">
                    <div class="col-4"><span class="font-size-18 font-color-green font-weight-500">Book Details </span>
                    </div>
                    <div class="col-1">:</div>
                    <div class="col-7"><span class="text-captialize font-size-18">{{form.value.content}}</span></div>
                  </div>

                  <!-- <span class="line-height-36 font-size-18 font-color-green font-weight-500">ISBN No : </span>
                  <span class="text-captialize font-size-18"></span><br>
                  <span class="line-height-36 font-size-18 font-color-green font-weight-500">Author's Name : </span>
                  <span class="text-captialize font-size-18">{{form.value.author}}</span><br>
                  <span class="line-height-36 font-size-18 font-color-green font-weight-500">Publisher's Name : </span>
                  <span class="text-captialize font-size-18">{{form.value.publication}}</span><br>
                  <span class="line-height-36 font-size-18 font-color-green font-weight-500">Publishing Year : </span>
                  <span class="text-captialize font-size-18">{{form.value.publicationYear}}</span><br>
                  <span class="line-height-36 font-size-18 font-color-green font-weight-500">Volume : </span>
                  <span class="text-captialize font-size-18">{{form.value.volume}}</span><br>
                  <span class="line-height-36 font-size-18 font-color-green font-weight-500">Edition : </span>
                  <span class="text-captialize font-size-18">{{form.value.edition}}</span><br>
                  <span class="line-height-36 font-size-18 font-color-green font-weight-500">Total Pages : </span>
                  <span class="text-captialize font-size-18">{{form.value.totalPages}}</span><br>
                  <span class="line-height-36 font-size-18 font-color-green font-weight-500">Media : </span>
                  <span class="text-captialize font-size-18">{{form.value.media}}</span><br>
                  <span class="line-height-36 font-size-18 font-color-green font-weight-500">Subject : </span>
                  <span class="text-captialize font-size-18">{{form.value.subject}}</span><br>
                  <span class="line-height-36 font-size-18 font-color-green font-weight-500">Branch : </span>
                  <span class="text-captialize font-size-18">{{form.value.branch}}</span><br>
                  <span class="line-height-36 font-size-18 font-color-green font-weight-500">Language : </span>
                  <span class="text-captialize font-size-18">{{form.value.language}}</span><br>
                  <span class="line-height-36 font-size-18 font-color-green font-weight-500">Book Details : </span>
                  <span class="text-captialize font-size-18 text-overflow">{{form.value.content}}</span><br> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>

  </mat-card>

</div>