<div class="main-container">
  <div class="navigation-container">
    <div class="row">
      <div class="col-12">
        <nav>
          <ul class="main-header-ul">
            <li><button mat-button>About Us</button></li>
            <li><button mat-button>Library Collection</button></li>
            <li><button mat-button>Timing & Services</button></li>
            <li><button mat-button>Rules & Regulations</button></li>
            <li><button mat-button>National Library of India</button></li>
            <li><button mat-button>Photos Gallery</button></li>
            <li><button mat-button>Notice</button></li>
            <li><button mat-button>Tenders</button></li>
          </ul>

        </nav>

      </div>
    </div>
  </div>
</div>