<mat-spinner *ngIf="isLoading"></mat-spinner>
<!-- <input type="text" placeholder="Search By Book name" [(ngModel)]='searchTerm'> -->

<div *ngIf="staffs.length > 0 && !isLoading">
  <div *ngFor="let staff of staffs">
    <div class="post-image">
      <img [src]="staff.staffImagePath" [alt]="staff.firstname"></div> <span>Adhaar:
      {{staff.adhaarno}}</span><br>
    <span>Firstname: {{staff.firstname}}</span>
    <div *ngIf="userIsAuthenticated">
      <a [routerLink]="['/admin/edit-staff', staff.id]">Edit</a>
      <button (click)="onDelete(staff.id)">Delete</button>
    </div>

    <hr>

  </div>
</div>
<mat-paginator [length]="totalStaffs" [pageSize]="staffsPerpage" [pageSizeOptions]="pageSizeOptions"
  (page)="onChangePage($event)" *ngIf="staffs.length > 0"></mat-paginator>
<p *ngIf="staffs.length <= 0 && !isLoading">No Record Found</p>