<!-- <mat-spinner *ngIf="isLoading"></mat-spinner>
<form [formGroup]="staffForm" (submit)="onSaveStaff()" *ngIf="!isLoading">
  <input type="number" name="adhaarno" formControlName="adhaarno" placeholder="adhaarno"><br>
  <input type="text" name="empCode" formControlName="empCode" placeholder="empCode"><br>
  <input type="text" name="firstName" formControlName="firstName" placeholder="firstName"><br>
  <input type="text" name="middleName" formControlName="middleName" placeholder="middleName"><br>
  <input type="text" name="lastName" formControlName="lastName" placeholder="lastName"><br>
  <input type="text" name="dob" formControlName="dob" placeholder="dob"><br>
  <input type="text" name="guardianName" formControlName="guardianName" placeholder="guardianName"><br>
  <input type="text" name="identityMark" formControlName="identityMark" placeholder="identityMark"><br>
  <input type="text" name="caste" formControlName="caste" placeholder="caste"><br>
  <input type="text" name="martialStatus" formControlName="martialStatus" placeholder="martialStatus"><br>
  <input type="text" name="category" formControlName="category" placeholder="category"><br>
  <input type="text" name="homeState" formControlName="homeState" placeholder="brhomeStateanch"><br>
  <input type="text" name="homeDistrict" formControlName="homeDistrict" placeholder="homeDistrict"><br>
  <textarea rows="6" name="homeAddress" formControlName="homeAddress" placeholder="homeAddress"></textarea>
  <input type="number" name="homePincode" formControlName="homePincode" placeholder="homePincode"><br>
  <input type="text" name="homePincode" formControlName="bloodGroup" placeholder="bloodGroup"><br>
  <input type="text" name="employementType" formControlName="employementType" placeholder="employementType"><br>
  <input type="number" name="phoneNo" formControlName="phoneNo" placeholder="phoneNo"><br>
  <input type="number" name="alternatePhoneNo" formControlName="alternatePhoneNo" placeholder="alternatePhoneNo"><br>
  <input type="text" name="currentDesignation" formControlName="currentDesignation"
    placeholder="currentDesignation"><br>
  <input type="text" name="employementStatus" formControlName="employementStatus" placeholder="employementStatus"><br>
  <button type="button" (click)=filePicker.click()>Pick Image</button>
  <input type="file" #filePicker (change)='onImagePicked($event)'>
  <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview && staffForm.get('image').valid">
    <img [src]="imagePreview" alt="staffForm.value.firstName">
  </div>
  <hr>
  <button type="submit" [disabled]="staffForm.invalid">Save Post</button>
</form>

<div>{{staffForm.value.adhaarno}}</div> -->
<div class="admin-container">
  <div class="row">
    <div class="col-12">
      <mat-card>
        <h2 class="font-size-20">Add Staff</h2>
        <form [formGroup]="staffForm" (submit)="onSaveStaff()">
          <div class="row margin-top-30">
            <div class="col-7">

              <div class="row">
                <div class="col-2 text-center">

                  <div *ngIf="imagePreview !== '' && imagePreview && staffForm.get('image').valid"
                    class="image-preview recent-book-container">
                    <img [src]="imagePreview" alt="staffForm.value.firstName">
                  </div>
                  <button type="button" (click)=filePicker.click() class="margin-top-15" mat-button>Upload
                    Image</button>
                  <input type="file" #filePicker (change)='onImagePicked($event)'>
                </div>
                <div class="col-10">
                  <!-- <div class="row">
                    <div class="col-12">
                      <h3 class="font-size-18">Personal Information</h3>
                    </div>
                  </div> -->
                  <div class="row">
                    <div class="col-10">
                      <h2 class="font-size-18"> Personal Information</h2>
                    </div>
                  </div>
                  <div class="row margin-top-15">
                    <div class="col-4">
                      <mat-form-field appearance="outline" class="form-field">
                        <mat-label>First Name</mat-label>
                        <input matInput name="firstName" formControlName="firstName" placeholder="First Name" />
                      </mat-form-field>
                    </div>
                    <div class="col-4">
                      <mat-form-field appearance="outline" class="form-field">
                        <mat-label>Middle Name</mat-label>
                        <input matInput name="middleName" formControlName="middleName" placeholder="Middle Name" />
                      </mat-form-field>
                    </div>
                    <div class="col-4">
                      <mat-form-field appearance="outline" class="form-field">
                        <mat-label>Last Name</mat-label>
                        <input matInput name="lastName" formControlName="lastName" placeholder="Last Name" />
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-4">
                      <mat-form-field appearance="outline" class="form-field">
                        <mat-label>Aadhar No.</mat-label>
                        <input matInput name="adhaarno" formControlName="adhaarno" placeholder="Aadhar No." />
                      </mat-form-field>
                    </div>
                    <div class="col-4">
                      <mat-form-field appearance="outline" class="form-field">
                        <mat-label>Employee Attendence Code</mat-label>
                        <input matInput name="empCode" formControlName="empCode"
                          placeholder="Employee Attendence Code" />
                      </mat-form-field>
                    </div>

                    <div class="col-4">
                      <mat-form-field appearance="outline" class="form-field">
                        <mat-label>Date of Birth</mat-label>
                        <input matInput [matDatepicker]="dob" formControlName="dob" placeholder="Choose a date">
                        <mat-datepicker-toggle matSuffix [for]="dob"></mat-datepicker-toggle>
                        <mat-datepicker #dob></mat-datepicker>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-4">
                      <mat-form-field appearance="outline" class="form-field">
                        <mat-label>Martial Status</mat-label>
                        <!-- <input matInput name="adhaarno" formControlName="adhaarno" placeholder="Aadhar No." /> -->
                        <mat-select name="martialStatus" formControlName="martialStatus" placeholder="Martial Status">
                          <mat-option *ngFor="let mstatus of mstatuses" [value]='mstatus.value'>{{mstatus.value}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col-4">
                      <mat-form-field appearance="outline" class="form-field">
                        <mat-label>Gender</mat-label>
                        <!-- <input matInput name="empCode" formControlName="empCode" placeholder="Employee Code" /> -->
                        <mat-select name="gender" formControlName="gender" placeholder="Gender">
                          <mat-option *ngFor="let item of gender" [value]='item.value'>{{item.value}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col-4">
                      <mat-form-field appearance="outline" class="form-field">
                        <mat-label>Category</mat-label>
                        <!-- <input matInput name="dob" formControlName="dob" placeholder="Date of Birth" /> -->
                        <mat-select name="martialStatus" formControlName="category" placeholder="Category">
                          <mat-option *ngFor="let category of categories" [value]='category.value'>{{category.value}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-4">
                      <mat-form-field appearance="outline" class="form-field">
                        <mat-label>Father's / Husband's / Guardian's Name</mat-label>
                        <input matInput name="guardianName" formControlName="guardianName"
                          placeholder="Father's / Husband's / Guardian's Name" />
                      </mat-form-field>
                    </div>
                    <div class="col-4">
                      <mat-form-field appearance="outline" class="form-field">
                        <mat-label>Identity mark</mat-label>
                        <input matInput name="identityMark" formControlName="identityMark"
                          placeholder="Identity Mark" />
                      </mat-form-field>
                    </div>
                    <div class="col-4">
                      <mat-form-field appearance="outline" class="form-field">
                        <mat-label>Blood Group</mat-label>
                        <input matInput name="bloodGroup" formControlName="bloodGroup" placeholder="Blood Group" />
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <mat-form-field appearance="outline" class="form-field">
                        <mat-label>Phone No.</mat-label>
                        <input matInput name="phoneNo" formControlName="phoneNo" placeholder="Phone No" />
                      </mat-form-field>
                    </div>
                    <div class="col-6">
                      <mat-form-field appearance="outline" class="form-field">
                        <mat-label>Alternate Phone No.</mat-label>
                        <input matInput name="alternatePhoneNo" formControlName="alternatePhoneNo"
                          placeholder="Alternate Phone No" />
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <mat-form-field appearance="outline" class="form-field">
                        <mat-label>Home Address</mat-label>
                        <textarea matInput rows="3" name="homeAddress" formControlName="homeAddress"
                          placeholder="Home Address"></textarea>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-4">
                      <mat-form-field appearance="outline" class="form-field">
                        <mat-label>State</mat-label>
                        <!-- <input matInput name="homeState" formControlName="homeState" placeholder="State" /> -->
                        <mat-select name="homeState" formControlName="homeState"
                          (selectionChange)="changeState($event.value)">
                          <mat-option *ngFor="let item of stateDistrictDataSources" [value]="item.name">
                            {{item.name}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col-4">
                      <mat-form-field appearance="outline" class="form-field">
                        <mat-label>District</mat-label>
                        <mat-select name="homeDistrict" formControlName="homeDistrict">
                          <mat-option *ngFor="let item of districts" [value]="item">{{item}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col-4">
                      <mat-form-field appearance="outline" class="form-field">
                        <mat-label>Pin Code</mat-label>
                        <input matInput name="homePincode" formControlName="homePincode" placeholder="Pin Code" />
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row ">
                    <div class="col-12">
                      <h3 class="font-size-18">Employement Details</h3>
                    </div>
                  </div>
                  <div class="row margin-top-15">
                    <div class="col-4">
                      <mat-form-field appearance="outline" class="form-field">
                        <mat-label>Current Designation</mat-label>
                        <!-- <input matInput name="employementType" formControlName="employementType"
                                              placeholder="Employement Type" /> -->
                        <input matInput name="currentDesignation" formControlName="currentDesignation"
                          placeholder="Current Designation" />
                      </mat-form-field>
                    </div>
                    <div class="col-4">
                      <mat-form-field appearance="outline" class="form-field">
                        <mat-label>Employement Type</mat-label>
                        <!-- <input matInput name="employementType" formControlName="employementType"
                          placeholder="Employement Type" /> -->
                        <mat-select name="employementType" formControlName="employementType"
                          placeholder="Employement Type">
                          <mat-option *ngFor="let empType of empTypes" [value]="empType.value">{{empType.value}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col-4">
                      <mat-form-field appearance="outline" class="form-field">
                        <mat-label>Employement Status</mat-label>
                        <!-- <input matInput name="employementStatus" formControlName="employementStatus"
                          placeholder="Employement Status" /> -->
                        <mat-select name="employementStatus" formControlName="employementStatus"
                          placeholder="Employement Status">
                          <mat-option *ngFor="let item of empStatus" [value]="item.value">{{item.value}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>

                </div>
              </div>
              <div class="row">
                <div class="col-12 text-center">
                  <div>
                    <button mat-button class="btn-success" type="submit">Add
                      Staff</button>
                    <button mat-button class="btn-danger btn-spacer">Reset Form</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-5">
              <div class="staff-container">
                <div class="row">
                  <div class="col-12">
                    <h1>Staff Information</h1>
                  </div>
                </div>
                <div class="row">
                  <div class="col-2">

                  </div>
                  <div class="col-8">
                    <div class="row">
                      <div class="col-3">
                        <span>Name</span>
                      </div>
                      <div class="col-1">
                        :
                      </div>
                      <div class="col-8">
                        {{staffForm.value.firstName}} {{staffForm.value.middleName}} {{staffForm.value.lastName}}
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-3">
                        <span>Aadhaar No.</span>
                      </div>
                      <div class="col-1">
                        :
                      </div>
                      <div class="col-8">
                        {{staffForm.value.adhaarno}}
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-3">
                        <span>Employee Code</span>
                      </div>
                      <div class="col-1">
                        :
                      </div>
                      <div class="col-8">
                        {{staffForm.value.empCode}}
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-3">
                        <span>Date of birth</span>
                      </div>
                      <div class="col-1">
                        :
                      </div>
                      <div class="col-8">
                        {{staffForm.value.dob | date}} {{staffForm.value.homeState}}
                        {{staffForm.value.homeDistrict}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </form>
      </mat-card>
    </div>
  </div>
</div>