.btn-success {
  background-color: #00918e;
  color: #ffffff;
}

.button-100 {
  width: 100% !important;
}

.btn-spacer {
  margin-left: 25px !important;
}

.btn-danger {
  background-color: firebrick;
  color: #ffffff;
}
