.main-container {
  width: 1000px;
  margin: 0 auto;
}

.homepage-container {
  background-color: #f5f5ff;
}

.homepage-about-container {
  margin: 30px 0px 30px 0px;
  padding: 25px;
  background-color: bisque;
  border-radius: 5px;
  color: #000000;
}

.text-container {
  padding: 10px 5px;
  text-align: justify;
}

.footer-text-container {
  padding: 25px 10px;
}

.notification-text-container {
  margin-top: 10px;
  padding: 10px 20px;
  height: 190px;
  overflow-y: scroll;
}

.homepage-notification-container {
  margin: 30px 0px 30px 0px;
  padding: 16px;
  width: 100%;
}

.footer-container {
  background-color: #00918e;
}

.recent-book-container {
  width: 125px;
  height: 175px;
  border: 1px solid #000;
  border-radius: 10px;
  margin-left: 15px;
  margin-right: 15px;
}

.recent-image-container {
  margin: 0 auto !important;
}

.book-image-container {
  width: 150px;
  height: 200px;
  border: 1px solid #000000;

  border-radius: 5px;
}

.admin-container {
  width: 100%;
  margin: 0;
  overflow: hidden;
  padding: 30px;
}

.staff-container {
  width: 100%;
  border: 1px solid #000000;
}
