.margin-left-10 {
  margin-left: 10px;
}

.margin-left-20 {
  margin-left: 20px;
}

.margin-left-23 {
  margin-left: 23px;
}

.margin-top-10 {
  margin-top: 10px;
}

.margin-top-30 {
  margin-top: 30px;
}

.margin-top-15 {
  margin-top: 15px !important;
}

.margin-top-70 {
  margin-top: 70px;
}

.remove-top-margin {
  margin-top: 0px !important;
}

.margin-bottom-30 {
  margin-bottom: 30px;
}
