.main-toolbar {
  height: 35px !important;
  background-color: #00918e;
  color: #ffffff;
}

.secondary-toolbar {
  height: 100px !important;
}

.spacer {
  flex: 1 1 auto !important;
}

.admin-toolbar {
  height: 45px !important;
  background-color: #00918e;
  color: #ffffff;
}
