<div class="main-container">
  <mat-card class="margin-top-30">

    <mat-card-title>
      <div class="row">
        <div class="col-6">
          <h2 class="font-size-18">Book Collections</h2>
        </div>
        <div class="col-6 text-right">
          <span class="font-size-18"><a class="font-color-black" routerLink="/get-books"
              routerLinkActive="router-link-active">Search books
              <i class="fas fa-search"></i></a></span>
        </div>
      </div>

    </mat-card-title>
    <mat-card-content class="margin-top-30">
      <div class="row">
        <div class="col-1">
          <a><i class="fas fa-arrow-circle-left font-size-24 margin-top-70"></i></a>
        </div>
        <div class="col-10 recent-image-container">
          <ul class="main-header-ul">
            <li>
              <div class="recent-book-container">

              </div>
            </li>
            <li>
              <div class="recent-book-container">

              </div>
            </li>
            <li>
              <div class="recent-book-container">

              </div>
            </li>
            <li>
              <div class="recent-book-container">

              </div>
            </li>
            <li>
              <div class="recent-book-container">

              </div>
            </li>
          </ul>
        </div>
        <div class="col-1">
          <a><i class="fas fa-arrow-circle-right font-size-24 margin-top-70"></i></a>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>